{% extends 'ourwedding/base.html' %}
{% block content %}
    <section class="section">
        <div class="container">
            <div class="main_title">
                <h2>Thank you for requesting an access code</h2>
            </div>
            <div class="row mb-5">
                <div class="col-lg-5 journey_item">
                    If your e-mail is on our database, we will send you an e-mail with your access code. If your e-mail is not on our database, we will process this request manually and may take a while.
                </div>
            </div>
        </div>
    </section>
{% endblock %}