{% extends 'ourwedding/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  <section class="progress_area">
    <div class="container box_1620">
      <div class="main_title">
        <h2>{% trans "Planned Events" %}</h2>
        <p>{% blocktrans %}These are the events we have planned up to now. Keep tuned because we may add new
          ones!{% endblocktrans %}</p>
      </div>
      <div class="row progress_inner">
        <div class="col-lg-4">
          <div class="progress_item">
            <img class="img-fluid" src="{% static 'ourwedding/img/party_unsplash.jpg' %}" alt="" style="width: 100%">
            <div class="progress_text">
              <h1>{% trans "Pre-Wedding Meetup" %}</h1>
              <p>{% trans "Because several guests are traveling from far, we are meeting on the evening before to say welcome!" %}</p>
              <div class="date">
                <h5>{% trans "Date: Friday, 18 October 2019" %}</h5>
                <h5>{% trans "Time: 19.00" %}</h5>
                <h5>{% trans "Address: Santa Fe 5183" %}</h5>
              </div>
            </div>
          </div>

        </div>
        <div class="col-lg-4">
          <div class="progress_item">
            <div class="progress_text">
              <h1>{% trans "Wedding Ceremony" %}</h1>
              <p>{% trans "Join us in this very special moment and hear us say yes to each other. We will add more information soon!" %}</p>
              <div class="date">
                <h5>{% trans "Date: Saturday, 19 October 2019" %}</h5>
                <h5>{% trans "Time: 17.00" %}</h5>
                <h5>{% trans "Address: Manuel Luis de Oliden 4651, B1664 Tortuguitas, BA Arg." %}</h5>
              </div>
            </div>
            <img class="img-fluid" src="{% static 'ourwedding/img/wedding_unsplash.jpg' %}" alt="" style="width: 100%">
          </div>
        </div>
        <div class="col-lg-4">
          <div class="progress_item">
            <img class="img-fluid" src="{% static 'ourwedding/img/sunday_unsplash.jpg' %}" alt="" style="width: 100%">
            <div class="progress_text">
              <h1>{% trans "Post-Wedding" %}</h1>
              <p>{% trans "A good opportunity to say goodbye to the guests who came from far and close. Join us on a relaxed sunday afternoon!" %}</p>
              <div class="date">
                <h5>{% trans "Date: Sunday, 20 October 2019" %}</h5>
                <h5>{% trans "Time: 15.00" %}</h5>
                <h5>{% trans "Address: TBD" %}</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% endblock %}
