{% extends 'ourwedding/base.html' %}
{% load i18n %}
{% block content %}
  <section class="title_color">
    <div class="container">
      <h1>Guest List</h1>
      <p>{% trans "Here you will find all the invited guest. If you think someone is missing, let us know!" %}</p>
      <table class="table table-bordered">
        <thead class="table-head">
        <tr>
          <td>{% trans "Name" %}</td>
          <td>{% trans "Is Attending" %}</td>
          <td>{% trans "Coming From" %}</td>
          <td>{% trans "Has Car" %}</td>
          <td>{% trans "Needs Transport" %}</td>
        </tr>
        </thead>
          {% for guest in guests %}
            <tr>
              <td>{{ guest.first_name }} {{ guest.last_name }}</td>
              <td>
                  {% if guest.profile.is_attending is None %}
                    <i class="far fa-question-circle"></i>
                  {% elif guest.profile.is_attending %}
                    <i class="far fa-check-circle" style="color: green;"></i>
                  {% else %}
                    <i class="far fa-times-circle" style="color: red;"></i>
                  {% endif %}
              </td>
              <td>
                  {% if guest.profile.comes_from %}
                      {{ guest.profile.comes_from }}
                  {% else %}
                    &nbsp;&nbsp;
                  {% endif %}
              </td>
              <td>
                  {% if guest.profile.has_car %}
                    <i class="fas fa-car" style="color: green;"></i>
                  {% endif %}
              </td>
              <td>
                  {% if guest.profile.needs_van %}
                    <i class="fas fa-shuttle-van" style="color: green;"></i>
                  {% endif %}
              </td>
            </tr>
              {% if guest.invites.count > 0 %}
                  {% for invite in guest.invites.all %}
                    <tr>
                      <td>{{ invite.first_name }} {{ invite.last_name }}</td>
                      <td>
                          {% if invite.is_attending is None %}
                            <i class="far fa-question-circle"></i>
                          {% elif invite.is_attending %}
                            <i class="far fa-check-circle" style="color: green;"></i>
                          {% else %}
                            <i class="far fa-times-circle" style="color: red;"></i>
                          {% endif %}
                      </td>
                      <td>
                          {% if invite.comes_from %}
                              {{ invite.comes_from }}
                          {% else %}
                            &nbsp;&nbsp;
                          {% endif %}
                      </td>
                      <td>
                          {% if invite.has_car %}
                            <i class="fas fa-car" style="color: green;"></i>
                          {% endif %}
                      </td>
                      <td>
                          {% if invite.needs_van %}
                            <i class="fas fa-shuttle-van" style="color: green;"></i>
                          {% endif %}
                      </td>
                    </tr>
                  {% endfor %}
              {% endif %}
          {% endfor %}
      </table>
    </div>
  </section>
{% endblock %}
