{% extends 'ourwedding/base.html' %}
{% load static %}
{% load i18n %}
{% block navbar %}
    {% if request.session.guest %}
        {{ block.super }}
    {% else %}
        <section class="section mt-5">
            <div class="container "></div>
        </section>
    {% endif %}
{% endblock %}

{% block content %}
    {# Defining variables in order to be able to use the translation #}
    {% url 'guest-login' as url_login %}
    {% url 'register' as url_register %}
    {% url 'contact' as url_contact %}
    <section>
        <div class="container">
            <div class="main_title">
                <h1>{% trans "Help" %}</h1>
            </div>
            <ul>
                <li>
                    <h3 class="title_color">{% trans "What is the Secret Code?" %}</h3>
                    <p>{% blocktrans %}The secret code is your way of accessing this website. It is unique and it is
                        valid for 15 days. {% endblocktrans %}</p>
                </li>
                <li>
                    <h3 class="title_color">{% trans "How do I get the Secret Code?" %}</h3>
                    <p>{% blocktrans %}If your e-mail is on our database, just ask a new one
                        <a href="{{ url_login }}">here</a> and you will receive it by e-mail. Then you will be able to
                        log in. If your e-mail is not on our database, follow the steps to
                        <a href="{{ url_register }}">register</a> and we will get back to you as soon as
                        possible.{% endblocktrans %}</p>
                </li>
                <li>
                    <h3 class="title_color">{% trans "How do I contact you?" %}</h3>
                    <p>{% blocktrans %}If you are logged in, you can use the
                        <a href="{{ url_contact }}">contact form</a>. This is the fastest way of reaching out. If you
                        are not logged in, send us an e-mail to
                        <a href="mailto:camiyaqui@camiyaqui.com">camiyaqui@camiyaqui.com</a>{% endblocktrans %}</p>
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
{% block footer %}
    {% if request.session.guest %}
        {{ block.super }}
    {% endif %}
{% endblock %}