{% extends 'ourwedding/base.html' %}
{% load i18n %}
{% block content %}
    <section class="">
        <div class="section-top-border">
            <div class="container">
                {% if not messages %}
                <div class="row">
                    <div class="col-sm-12">
                        <h1>{% trans "No messages yet" %}</h1>
                        {% trans "This is a space for you to send us anecdotes! Are you remembering something fun that happened to Aquiles or Camila and you want to share with everyone? You can send us as many anecdotes as you want. Just click the button below :D" %}
                    </div>
                </div>
                {% endif %}
                {% for message in messages %}
                    <div class="row mb-2">
                        <div class="col-sm-12">
                            {% trans "This is a space for you to send us anecdotes! Are you remembering something fun that happened to Aquiles or Camila and you want to share with everyone? You can send us as many anecdotes as you want. Just click the button below :D" %}
                            <blockquote class="generic-blockquote">{{ message.message }}</blockquote>
                            <div>
                                {% trans "Sent on" %} {{ message.timestamp }}
                            </div>
                        </div>
                    <hr />
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col-sm-12">
                        <a href="{% url 'create-message' %}">
                            <button class="btn btn-outline-info">{% trans "Create New" %}</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
