{% load static %}
{% load i18n %}
<!--================Header Menu Area =================-->
<header class="header_area">
  <div class="main_menu">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container box_1620">
        <!-- Brand and toggle get grouped for better mobile display -->
        <a class="navbar-brand logo_h"><img src="{% static 'ourwedding/img/logo.png' %}"
                                            alt=""></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav ml-auto">
            <li class="nav-item active"><a class="nav-link" href="{% url 'home' %}">{% trans "Home" %}</a>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true" aria-expanded="false">{% trans "RSVP" %}</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'RSVP' %}">{% trans "RSVP" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'guest-profile' %}">{% trans "My Profile" %}</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="{% url 'guest-list' %}">{% trans "Guest List" %}</a></li>
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false" href="#">{% trans "Photos" %}</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'galleries' %}">{% trans "Galleries" %}</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="{% url 'upload-home' %}">{% trans "Send your photos" %}</a></li>
              </ul>
            </li>

            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                 aria-haspopup="true" aria-expanded="false">{% trans "Tourism" %}</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'buenosaires' %}">{% trans "Buenos Aires" %}</a>
                </li>
                <li class="nav-item"><a class="nav-link"
                                        href="{% url 'accommodation' %}">{% trans "Accomodation" %}</a>
                </li>
                  {#                                                        <li class="nav-item"><a class="nav-link" href="{% url 'tango' %}">{% trans "Tango" %}</a></li>#}
              </ul>
            </li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                 aria-expanded="false">{% trans "Event" %}</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="{% url 'event' %}">{% trans "Events" %}</a></li>
                <li class="nav-item"><a class="nav-link" href="{% url 'event-wedding' %}">{% trans "Wedding" %}</a></li>
                <li class="nav-item"><a class="nav-link"
                                        href="{% url 'event-pre-wedding' %}">{% trans "Pre-Wedding" %}</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">{% trans "Contact" %}</a>
            </li>
            <li class="nav-item"><a class="nav-link"
                                    href="{% url 'save-the-date' %}">{% trans "Invitation" %}</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
<!--================Header Menu Area =================-->
