{% extends 'ourwedding/profile_base.html' %}
{% load i18n %}
{% block profile_extras %}
    <div class="res_form_inner">
        <h2>{% trans "Are you coming with someone else?" %}</h2>
        <p>{% trans "If you are coming with a partner or children, please also register them" %}</p>
        <a href="{% url 'RSVP' %}">
            <button class="btn btn-lg btn-primary btn-block text-uppercase"
                    type="submit">{% trans "Add People" %}</button>
        </a>
    </div>
{% endblock %}