{% extends 'ourwedding/base.html' %}
{% load i18n %}
{% block content %}
<section class="banner_area">
    <div class="banner_inner banner_box d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0" data-background="" style="background-image: url(/static/ourwedding/img/aquiEnMarruecos.jpg)"></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>{% trans "Tango in Buenos Aires" %}</h2>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Info Area =================-->
<section class="act_area p_120">
    <div class="container">
        <div class="row act_inner">
            <p>{% trans "Adding information soon!" %}</p>
        </div>
    </div>
</section>
<!--================End Info Area =================-->
{% endblock %}

