{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Cami Y Aqui Wedding | {{ SITENAME }}{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'backend/css/bootstrap.min.css' %}">
    {#    <link rel="stylesheet" href="{% static 'backend/css/app.css' %}">#}
  <link href="https://fonts.googleapis.com/css?family=Goudy Bookletter 1911" rel="stylesheet">
    {% block meta_header %}{% endblock %}
</head>
<body>
{% block body %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{% url 'bcknd-guest-list' %}">Backend</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03"
            aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'bcknd-guest-list' %}">Guest List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'message-list' %}">Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'upload-contacts' %}">Upload Contacts</a>
        </li>
        <li><a class="nav-link" href="{% url 'list-news' %}">News</a></li>
      </ul>
    </div>
  </nav>
    {% block content %}
    {% endblock content %}
{% endblock body %}
<script src="{% static 'backend/js/jquery.min.js' %}"></script>
<script src="{% static 'backend/js/popper.min.js' %}"></script>
<script src="{% static 'backend/js/bootstrap.min.js' %}"></script>
{% block footer_scripts %}
{% endblock %}
</body>
</html>
