{% extends 'backend/base_backend.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
        <h3>{{ message.name }}</h3>
        </div>
        <div class="col-12">
            This message was sent to {{ message.sent_to|length }} people
        </div>
        <div class="col-12 mt-5">
             Send this message to the rest of the guests
        <form method="post">{% csrf_token %}<button class="btn btn-info" type="submit">Send</button></form>
        </div>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Date</th>
            </tr>
            </thead>
            {% for msg in message.sent_to %}
                <tr>
                    <td>{{ msg.sent_to.pk }}</td>
                    <td>{{ msg.sent_to.name}}</td>
                    <td>{{ msg.sent_to.email }}</td>
                    <td> {{ msg.date_sent }} </td>
                </tr>
            {% endfor %}
        </table>
        </div>
    </div>
</div>
{% endblock%}