{% extends 'backend/base_backend.html' %}
{% block content %}
    <div class="container">
        <h1>Overview of the messages</h1>
        <a href="{% url 'message-new' %}"><button class="btn btn-info">New Message</button></a>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <td>Id</td>
                <td>Subject</td>
                <td>Language</td>
                <td>Sent To</td>
                <td>...</td>
            </tr>
            </thead>
            {% for message in messages %}
                <tr>
                    <td>{{ message.id }}</td>
                    <td><a href="{% url 'message-detail' message.id %}">{{ message.subject }}</a></td>
                    <td>{{ message.language }}</td>
                    <td>{{ message.sent_to.count }}</td>
                    <td><a href="{% url 'message-send' message.id %}">Send to all</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}