{% extends 'backend/base_backend.html' %}
{% block content %}
    <div class="container">
        <h1>Overview of the News</h1>
        <a href="{% url 'create-news' %}"><button class="btn btn-info">Create News</button></a>
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <td>Id</td>
                <td>Date</td>
                <td>Title</td>
                <td>Language</td>
                <td>Text</td>
            </tr>
            </thead>
            {% for n in news %}
                <tr>
                    <td>{{ n.id }}</td>
                    <td>{{ n.published_on }}</td>
                    <td>{{ n.title }}</td>
                    <td>{{ n.language }}</td>
                    <td>{{ n.message }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
