{% extends 'savethedate/base.html' %}
{% load static %}
{% block content %}
    <!-- Background image -->
    <div class="page-image-bg reveal scale-in"></div>
    <!-- END Background image -->
    <!-- Overlay -->
    <div class="overlay-bg-black overlay-opacity"></div>
    <!-- END Overlay -->
    <div id="info" class="col-md-12 text-white text-center page-info col-transform">
        <div class="title-front">We are getting married</div>
        <div class="logo">
            <img src="{% static 'save-the-date/img/logo.png' %}" alt=""/>
        </div>
        <div class=" all-title">
            Camila <span>&amp;</span> Aquiles
        </div>
        <div class="countdown-title">
            Countdown To Wedding Day
        </div>
        <!-- Countdown -->
        <div id="countdown"></div>
        <!-- END Countdown -->
        <div class="title-date">
            <span class="swirl-left"><span class="swirl-right">19<span>.</span>10<span>.</span>2019</span></span>
        </div>
        <div class="title-under">Save the date</div>
        <!--<i class="icon ico-l-sm icon-l-arrows-slim-down-dashed animated fadeInDown"></i>-->
        <a class="btn btn-border-white show-info animated fadeInUp" role="button" data-href="#content">More info</a>
    </div>
    <div id="content" class="page-content col-md-6 text-center bg-white">
        <!-- Happy Couple -->
        <section class="section">
            <!-- Section Title Happy Couple -->
            <h2 class="section-title">
                <span>Happy Couple</span>
            </h2>
            <!-- END Section Title Happy Couple -->
            <div class="row single-happy-wrapp">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-happy">
                        <img src="{% static 'save-the-date/img/gallery/Cami.jpg' %}" alt="">
                        <div class="info-box">
                            <div class="info-box-wrap">
                                <div class="overlay-info-box"></div>
                                <div class="info-box-text">
                                    <h3>Cami</h3>
                                    <span>says about Aqui</span>
                                    <p>Aqui is pure love. I love to see his face full of enthusiasm when he tells me
                                        new
                                        things. I love his support, his gestures, like when we waits for me with
                                        breakfast ready when I come back from my morning runs, or when he helps me
                                        everytime I need to work on weekends. What amazed me was the surprise party
                                        he
                                        organized for my birthday! Aqui is so cute! A boy full of optimism and
                                        wisdom.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="single-happy-and">&amp;</div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="single-happy">
                        <img src="{% static 'save-the-date/img/gallery/Aqui.jpg' %}" alt="">
                        <div class="info-box">
                            <div class="info-box-wrap">
                                <div class="overlay-info-box"></div>
                                <div class="info-box-text">
                                    <h3>Aqui</h3>
                                    <span>says about Cami</span>
                                    <p>Cami was love at first sight, since the first moment I heard her laughing. I
                                        love
                                        how she is, her spontaneity and the sweetness with which she lives every
                                        day.
                                        Cami supports me with any crazyness and I know I can count on an unmatchable
                                        partner for the rest of my life. Nothing makes me happier than waking up
                                        next to
                                        her, and knowing that this is how all my days are going to begin.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Happy Couple -->
        <!-- Love Story -->
        <section class="section">
            <!-- Section Title Love Story -->
            <h2 class="section-title t60">
                <span>Love Story</span>
            </h2>
            <!--END Section Title Love Story -->
            <div class="container w100">
                <div class="story-section">
                    <div class="story-line hidden-xs"></div>
                    <div class="row">
                        <div class="time col-md-6 col-sm-6 col-xs-12">
                            <div class="story-content left animated">
                                <div class="story-c-block">
                                    <div class="col-md-6 col-sm-6">
                                        <h3>We met for the first time</h3>
                                        <span class="story-date">20th June 2016</span>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <img src="{% static 'save-the-date/img/gallery/IMG_0946.jpg' %}" alt=""
                                             class="img-responsive"/>
                                    </div>
                                </div>
                                <p class="text-right">Cami likes saying she went uninvited to Aqui's birthday party.
                                    Partly true, partly fantasy, the fact is that we meet in Amsterdam during a
                                    party.</p>
                            </div>
                        </div>
                        <div class="date col-md-6 col-sm-6 col-xs-12">
                            <div class="story-content right animated">
                                <div class="story-c-block">
                                    <div class="col-md-6 col-sm-6">
                                        <img src="{% static 'save-the-date/img/gallery/UJAC8440.jpg' %}" alt=""
                                             class="img-responsive"/>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3 class="pull-right">Our first date</h3>
                                        <span class="story-date">5th August 2016</span>
                                    </div>
                                </div>
                                <p>Our first date was in the On the Roof! We went to listen to the Franz Von Chossy
                                    Quintet, we talked lots and we finished the evening in a cocktail bar.</p>
                            </div>
                        </div>
                        <div class="together col-md-6 col-sm-6 col-xs-12">
                            <div class="story-content left animated">
                                <div class="story-c-block">
                                    <div class="col-md-6 col-sm-6">
                                        <h3>We live together</h3>
                                        <span class="story-date">1st December 2016</span>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <img src="{% static 'save-the-date/img/gallery/IMG_0907.jpg' %}" alt=""
                                             class="img-responsive"/>
                                    </div>
                                </div>
                                <p class="text-right">Aqui fell in parachute in Cami's tiny apartment in Leiden, and
                                    she
                                    welcomed him with love. After a couple of months they moved to a bigger
                                    apartment in
                                    Amsterdam, where they live happily.</p>
                            </div>
                        </div>
                        <div class="offer col-md-6 col-sm-6 col-xs-12">
                            <div class="story-content right animated">
                                <div class="story-c-block">
                                    <div class="col-md-6 col-sm-6">
                                        <img src="{% static 'save-the-date/img/gallery/IMG_5829.jpg' %}" alt=""
                                             class="img-responsive"/>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <h3 class="pull-right">We decided to get married</h3>
                                        <span class="story-date">4th September 2018</span>
                                    </div>
                                </div>
                                <p>A couple of months before we were talking about it, but we could not decide, it
                                    was
                                    such a big step. However, one afternoon in the south of Italy we were walking
                                    and
                                    looking for a medieval bridge, without realising the romantic atmosphere of
                                    Calabria
                                    surrounded us, and we could not stop saying I love you to each other.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--END Love Story -->
        <!-- Gallery -->
        <section class="section section-gallery" id="gallery">
            <!-- Section Title Gallery -->
            <h2 class="section-title t60">
                <span>Our moments</span>
            </h2>
            <!-- END Section Title Gallery -->
            <!-- Gallery Images -->
            <div class="gallery-images row">
                <div class="col-lg-4 col-md-4 col-sm-4 no-space">
                    <div class="bearr-gallery-item">
                        <a href="{% static '/img/gallery/IMG_5845.jpg' %}">
                            <img src="{% static 'save-the-date/img/gallery/IMG_5845.jpg' %}" alt="">
                            <div class="fade-icon">
                                <span class="icon"><i class="icon icon-heart"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 no-space">
                    <div class="bearr-gallery-item">
                        <a href="{% static 'save-the-date/img/gallery/IMG_3218.jpg' %}">
                            <img src="{% static 'save-the-date/img/gallery/IMG_3218.jpg' %}" alt="">
                            <div class="fade-icon">
                                <span class="icon"><i class="icon icon-heart"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 no-space">
                    <div class="bearr-gallery-item">
                        <a href="{% static 'save-the-date/img/gallery/IMG_3503.jpg' %}">
                            <img src="{% static 'save-the-date/img/gallery/IMG_3503.jpg' %}" alt="">
                            <div class="fade-icon">
                                <span class="icon"><i class="icon icon-heart"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 no-space">
                    <div class="bearr-gallery-item">
                        <a href="{% static 'save-the-date/img/gallery/IMG_3736.jpg' %}">
                            <img src="{% static 'save-the-date/img/gallery/IMG_3736.jpg' %}" alt="">
                            <div class="fade-icon">
                                <span class="icon"><i class="icon icon-heart"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 no-space">
                    <div class="bearr-gallery-item">
                        <a href="{% static 'save-the-date/img/gallery/IMG_4054.jpg' %}">
                            <img src="{% static 'save-the-date/img/gallery/IMG_4054.jpg' %}" alt="">
                            <div class="fade-icon">
                                <span class="icon"><i class="icon icon-heart"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 no-space">
                    <div class="bearr-gallery-item">
                        <a href="{% static 'save-the-date/img/gallery/IMG_5230.jpg' %}">
                            <img src="{% static 'save-the-date/img/gallery/IMG_5230.jpg' %}" alt="">
                            <div class="fade-icon">
                                <span class="icon"><i class="icon icon-heart"></i></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!-- END Gallery Images -->
        </section>
        <!-- END Gallery -->
        <!-- Our Wedding Location -->
        <section class="section">
            <!-- Section Title Our Wedding Location -->
            <h2 class="section-title t60">
                <span>Our Wedding Location</span>
            </h2>
            <!-- END Section Title Our Wedding Location -->
            <div class="wrapp location">
                <div class="col-sm-12 no-space location-block">
                    <div class="section-activity">
                        <h2>Estancia la Linda</h2>
                        <p>Manuel Luis de Oliden 4651,
                            B1664 Tortuguitas,<br/>
                            Buenos Aires, Argentina</p>
                        <img src="{% static 'save-the-date/img/gallery/Estancia_La_linda.jpg' %}" alt=""
                             class="img-responsive, center"/>
                        <img src="{% static 'save-the-date/img/gallery/map_estancia.jpg' %}" alt=""
                             class="img-responsive, center"/>
                    </div>
                </div>
            </div>
        </section>
        <!-- END Our Wedding Location -->
        <!-- Copyright -->
        <div class="footer copyrights">
            <div class="copyright">&copy; 2018 Cami Y Aqui</div>
        </div>
        <!-- END Copyright -->
    </div>
{% endblock %}
